{% extends "base.html" %}
{% block title %}Overview - Admin Panel{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/overview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tablecolor.css') }}">

    <h2>🟢 Online Devices</h2>
    <table class="overview_online"> {# border="1" style="width:100%; margin-top: 1em;" #}
        <thead>
            <tr>
                <th class="nickname">Nickname</th>
                <th class="tag"     >Tag</th>
                <th class="CPU_perc">CPU %</th>
                <th class="RAM_perc">RAM %</th>
                <th class="username">User</th>
                <th class="ACTV_app">Active App</th>
            </tr>
        </thead>
        <tbody id="overview-online-body">
            <tr>
                <td style='text-align: center' colspan="6">Loading online devices...</td>
            </tr>
        </tbody>
    </table>

    <h3 style="margin-top: 2.5em;">🔴 Offline Devices (no ping in last {{ OFFLINE_DEVICE_TIMEOUT }} s)</h3>
    <ul id="overview-offline-list">
        <li>Loading the offline list...</li>
    </ul>

    <script>
        window.FLASK_ROUTES = {
            api_overview_data: "{{ url_for('app_routes.api_overview_data') }}",
        };
        window.REFRESH_TIMEOUT = {{ REFRESH_TIMEOUT_MS }}

        document.addEventListener("DOMContentLoaded", function() {
            const script = document.createElement('script');
            script.src = "{{ url_for('static', filename='js/overview.js') }}";
            document.head.appendChild(script);
        });
    </script>


{% endblock %}